@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-family: var(--font-nunito_sans);
}

h1 {
  font-family: var(--font-nunito);
} */

.container {
  width: 80vw;
}

.font-title {
  font-family: var(--font-nunito);
}
.font-txt {
  font-family: var(--font-nunito_sans);
}
